.eventImage{
    max-width: 200px;
}
.eventType{
    font-size: 25px;
    font-weight: bold;
    background-color: #fec601;
    border-radius: 5px;
    padding: 4px;
    display: inline;
}
.eventName{
    font-weight: bold;
    font-size: 20px;
}
.countDownTimer{
    margin-left: 5px;
}
.countDownTimer > p{
    font-weight: bold;
    color: gray;
    margin: 1px;
    font-size: 10px;
}
.countDownTimer  span{
    font-weight: bold;
    color: black;
    font-weight: bold;
    font-size: 15px;
}