.eventName{
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.eventType{
    font-size: 20px;
    font-weight: bold;
}
.dateTimeText{
    color: #da0909e3;
}
.eventContainer{
    padding: 10px;
    background-color: #f6faff;
    border-radius: 10px;
    flex-basis: 250px;
}
.upcomeingEventS{
    display: flex;
    overflow: auto;
}
.upcomeingEventsContainer{
    margin-top: 50px;
    position: relative;
}